.footer {
    text-align: center;
    background-color: #37AFE1;
    padding: 20px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #4CC9FE;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
